body {
    background-color: silver;
}

h1 {
    text-align: center;
}

#game-console-container {
    height: 50px;
    width: 900px;
    display: inline-block;
    margin: auto;
}

#container {
    max-width: 1600px;
    margin-inline: auto;
    height: 628px;
    border-radius: 25px;
}

/*
button {
    border: 1px solid blue;
    border-radius: 25px;
    background-color: pink;
    border-radius: 25px;
    text-align: center;
}
*/

.button {
    border: 1px solid blue;
    border-radius: 25px;
    background-color: pink;
    border-radius: 25px;
    text-align: center;
}

/* add different font */

.bingoNumber {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    display: inline-block;
    margin: auto;
    text-align: center;
    line-height: 100px;
}

#bingo-numbers-container {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    background-color: green;
    border: 1px solid white;
}

.bingoNumber:hover{
    border-color: aquamarine;
    cursor: grab;
    background-color: red;
}

.selectedNumber {
    border: 1px solid blue;
    border-radius: 25px;
    background-color: pink;
    border-radius: 25px;
    text-align: center;
    margin: auto;
}

.randomButton {
    height: 100px;
    width: 100px;
}

.randomDisplay {
    height: 100px;
    width: 100px;
}

.generateRandomNumberDisplay {
    background-color: white;
    height: 100px;
}

